.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #15476d;
    padding: 10px;
}

.leftSide, .rightSide {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #b3d4fc;
    padding: 40px;
}

.rightSide {
    background-color: white;
}

.currentDate {
    font-size: 232px;
    font-family: monospace;
    color: white;
}

.currentDay, .monthAndYear {
    font-weight: lighter;
    color: white;
    font-size: 36px;
}

.monthAndYear {
    color: #b3d4fc;
    -webkit-text-stroke: 0.3px #15476d;
}